body {
  background-color: #123456;
  color: white;
}

img {
  height: 20dvh;
  width: 100%;
  object-fit: cover;
}

.card {
  color: black;
}

.category {
  text-decoration: underline;
  font-family: 'Shantell Sans', cursive;
}

.menuItems {
  text-align: center;
}

.showMobile {
  display: none;
}

@media(max-width:768px) {
  .showMobile {
    display: block;
  }

  .title {
    text-align: center;
  }
}